node_modules/
vscode/extension/node_modules/
vscode/extension/dist
vscode/extension/out
vscode/extension/src_react
vscode/extension/tsconfig.tsbuildinfo
vscode/extension/.vscode-test/
vscode/extension/playwright-report/
vscode/extension/test-results/
vscode/extension/.test_setup

sqlmesh
docs
/tests/**
examples
posts
.circleci
README.md
mkdocs.yml
.readthedocs.yaml
.pre-commit-config.yaml
package-lock.json
**/*.md
.ruff_cache
.pytest_cache
.venv
.vscode
build
pnpm-lock.yaml